<!DOCTYPE html>
<html lang="<%= settings.language %>">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/bd767aa32b.js" crossorigin="anonymous"></script>
    <% if (environment === 'production') { %>
      <link rel="stylesheet" href="/assets/all.css">
    <% } %>
    <% settings.faviconMetaTags.forEach(tag => { %>
      <%- tagGenerator(tag) -%>
    <% }) %>
    <% if (seoMetaTags) { %>
      <% seoMetaTags.forEach(tag => { %>
        <%- tagGenerator(tag) -%>
      <% }) %>
    <% } %>
  </head>
  <body class="<%= path === 'index.html' ? 'is-active' : '' %> gallery">
    <div class="container">
      <div id="menu" class="menu">
        <div class="sidebar">
          <h1 class="logo menu-logo">
            <a id="logo" class="logo text" href="/index.html"><%= settings.name %></a>
          </h1>

          <ul class="menu-nav">
            <li class="<%= path === 'index.html' ? 'is-active' : '' %> item">
              <a href="/">Home</a>
            </li>
            <li class="<%= path === 'about.html' ? 'is-active' : '' %> item">
              <a href="/about.html">About</a>
            </li>
          </ul>

          <p class="sidebar__social">
            <% settings.socialProfiles.forEach(profile => { %>
              <a href="<%= profile.url %>" class="social social--<%= profile.type %>"></a>
            <% }) %>
          </p>

          <div class="sidebar__copyright">
            <%= settings.copyright %>
          </div>
        </div>
      </div>

      <div class="mobile-menu">
        <div class="mobile-menu-overlay"></div>
        <div class="mobile-menu-panel">
          <div class="mobile-menu-links">
            <div class="mobile-header__menu">
              <a href="#" data-js="toggleSidebar"></a>
            </div>
            <div class="mobile-header__logo">
              <a href="/index.html">
                <%= settings.name %>
              </a>
            </div>
          </div>
        </div>
      </div>
