<%- include('partials/header', { seoMetaTags: seoMetaTags }) %>


  <div id="wrapper">
    <!--  PAGE CONTENT -->
    <div id="page_content">

      <div id="assets" class="gallery">

        <div class="gallery-navigation">
          <span class="flex-direction-nav navigation" style="display: inline;">
            <a href="#" class="flex-nav-prev prev">Previous</a> / <a href="#" class="flex-nav-next next">Next</a>
           <!-- <span class="counter">(<span id="current">2</span> of <span id="total">12</span>)</span> -->
          </span>
          <span class="title" style="display: none;"><%= title %></span>
          <a href="#" class="open-close-thumbs fas fa-th"></a>
        </div>

        <div class="flexslider js_max_height_target">
          <ul class="assets_container slides">
          <% extraImages.forEach(image => { %>
            <li class="asset image no_caption">
              <div class="image">
                <span>
                  <div class="image-wrapper">
                  <canvas class="image-placeholder" width="1600" height="1067"></canvas>
                  <img src="<%= image %>">
                  </div>
                </span>
              </div>
              <p class="caption"><%= imageTitle %></p>
            </li>
          <% }) %>  
          </ul>
        </div>

        <div class="pagination">
          <ul class="thumb_container">
          <% extraImages.forEach(image => { %>
            <li class="thumb_item image">
              <a href="#">  
                <span class="thumb_wrap">
                  <span class="hover-container">
                    <canvas class="image-placeholder" width="300" height="200" style="background-color: rgb(36, 40, 41); max-height: 168px;"></canvas>
                    <img src="<%= image %>">
                    <span class="layer"></span>
                  </span>
                </span>                    
              </a>
            </li>
          <% }) %>
          </ul>  
        </div>

      </div><!-- CLOSE ASSETS -->
    </div><!-- CLOSE PAGE CONTENT-->
  </div><!--  CLOSE WRAPPER -->


<%- include('partials/footer') %>